@import "../utils/variables.scss";

.heart {
  display: flex;
  font-size: 2rem;
  position: relative;

  .fas {
    color: $colour-primary;
    position: absolute;
    left: 0;
    top: 0.15rem;
    transform: scale(0);
    transform-origin: bottom;
  }

  &:hover > .fas {
    animation: full-scale 500ms 100ms forwards;
  }

  &:hover > .far {
    animation: detail 500ms 100ms forwards;
  }
}
