.heart {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    position: relative;

    .fas {
      color: $colour-primamy;
      position: absolute;
      left: 0;
      top: 0.15rem;
      transform: scale(0);
      transform-origin: bottom;
    }

    &:hover > .fas {
      animation: full-scale 500ms 100ms forwards;
    }

    &:hover > .far {
      animation: detail 500ms 100ms forwards;
    }
  }