$font-title: "Shrikhand", cursive;
$font-text: "Roboto";
body {
    font-family: $font-text;
}
.header-logo {
    font-family: $font-title;
}
.footer-title{
    font-family: $font-title;
}
.menu h3 {
    font-family: $font-title;
}

