
/* ################################################################*/
/* ############################ Police ############################*/
/* ################################################################*/

$Roboto-font : "Roboto", sans-serif;
$Shrikand-font: "Shrikhand", sans-serif;

/* ################################################################*/
/* ########################### Couleurs ###########################*/
/* ################################################################*/

$colour-primamy: #9356DC;                /*violet pour les boutons*/
$colour-secondary: #FF79DA;              /*rose pour les boutons*/
$colour-primary-light:#FFF0FF;           /*rose clair pour fonctionnement*/
$colour-tertiary: #99E2D0;               /*vert pour le fond des étiquettes nouveau*/
$colour-tertiary-dark: #51BD99;          /*vert foncé pour le texte des étiquettes nouveau*/
$colour-white:#ffffff;                   /*blanc*/
$colour-grey-middle: #D1D1D1;            /*gris clair pour la recherche de ville*/  
$colour-dark: #353535;                   /*gris foncé pour le footer*/
$colour-black:#000000;                   /*noir*/
$colour-grey-little:#EAEAEA              /*blanc cassé pour la partie avec les textes juste au dessus du bouton "explorer nos restaurants*/
