@import "../sass/utils/mixins.scss";
@import "../sass/utils/variables.scss";
@import "../sass/utils/keyframes.scss";
@import "../sass/Components/heart.scss";
@import "../sass/Components/loader.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}
a {
  text-decoration: none;
  color: $colour-black;
}

.container {
  font-family: $Roboto-font;
  width: 100%;

  /*######################################################################*/
  /*##############################  Header  ##############################*/
  /*######################################################################*/

  .header-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    .header-logo {
      font-size: 2rem;
      font-family: $Shrikand-font;
    }
    .location {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      width: 100%;
      height: 50px;
      background-color: $colour-grey-middle;
      box-shadow: inset 1px 2px 7px $boxShadowColor;

      .header-input {
        border: none;
        font-weight: bold;
        font-size: 1em;
        color: $colour-black;
        background-color: transparent;
      }

      .icon-location {
        align-self: center;
        margin-left: 70px;
        margin-right: 15px;
        color: $colour-black;
      }
    }
  }

  /*######################################################################*/
  /*###############################  Main  ###############################*/
  /*######################################################################*/

  .index {
    margin-top: 0;
    visibility: hidden;
    animation: main-loading .2s 3.2s forwards;

    .main-intro {
      text-align: center;
      background-color: $colour-grey-little;
      margin-top: -16px;

      .intro {
        padding-top: 2.5rem;
      }

      .intro > h2 {
        margin: 2rem 2rem 0 2rem;
        font-size: 1.5rem;
        margin-top: 1rem;
      }
      .intro > h3 {
        margin: 0 1.3rem 1rem 1.3rem;
        font-weight: 300;
      }
      .presentation {
        display: none;
      }
      .button-explore {
        font-size: 1.1rem;
        width: 250px;
        height: 60px;
        margin-top: 1rem;
        margin-bottom: 4rem;
        color: white;
        border: none;
        border-radius: 60px;
        background: #ff79da;
        background: -moz-linear-gradient(
          -45deg,
          #ff79da 15%,
          #b73bdc 65%,
          #9356dc 100%
        );
        background: -webkit-linear-gradient(
          -45deg,
          #ff79da 15%,
          #b73bdc 65%,
          #9356dc 100%
        );
        background: linear-gradient(
          173deg,
          #ff79da 15%,
          #b73bdc 65%,
          #9356dc 100%
        );
        box-shadow: 2px 2px 7px #f2f2f2;
        cursor: pointer;

        &:focus {
          outline: none;
        }
        &:hover {
          opacity: 0.8;
          box-shadow: 5px 5px 20px rgb(190, 190, 190);
        }
      }
    }

    .operation {
      display: flex;
      flex-direction: column;

      .operation-title {
        margin-left: 1rem;
      }
      .operation-list {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .operation-item-list {
          width: 85%;
          margin-bottom: 1rem;
          position: relative;
          padding: 2px;
          border: 1px #f2f2f2 solid;
          border-radius: 25px;
          box-shadow: 3px 3px 10px $boxShadowColor;
          height: 70px;
          background-color: #f2f2f2;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #fff0ff;

            i {
              color: #9356dc;
            }
          }
          .operation-item-list-number {
            font-size: smaller;
            position: absolute;
            left: -10px;
            width: 20px;
            height: 20px;
            background-color: #9356dc;
            color: white;
            border-radius: 100%;
            text-align: center;
          }
          .testh3 {
            width: 90%;
            font-size: 1.1rem;
            margin: 0;
          }
          .testI {
            width: 10%;
            margin-left: 1.5rem;
            display: flex;
            justify-content: center;
            padding-right: 1rem;
            color: grey;
          }
        }
      }
    }

    .restaurant {
      background-color: $colour-grey-little;

      .restaurant-name {
        padding: 2rem 0 0 1rem;
      }

      .list-restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;

        .list-restaurant-card {
          position: relative;
          box-shadow: 2px 2px 10px $boxShadowColor;
          border-radius: 1rem 1rem 1rem 1rem;
          width: 90%;
          height: 230px;
          margin: 0 0 1rem 0;
          display: block;
          flex-direction: column;
          justify-content: center;
          background-color: white;

          .list-restaurant-card-img {
            display: flex;
            @include img-size;
            border-radius: 1rem 1rem 0 0;
            width: 100%;
            height: 150px;
          }
          .card-new {
            right: 14px;
            border-radius: 3px;
            background-color: $colour-tertiary;
            color: $colour-tertiary-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 30px;
            position: absolute;
            top: 14px;
          }
          .list-restaurant-card-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin-left: 0.5rem;
            height: fit-content;
            margin-top: 10px;

            & > a {
              width: 80%;

              h3,
              p {
                margin: 0%;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }

  /*######################################################################*/
  /*##############################  Footer  ##############################*/
  /*######################################################################*/

  .footer {
    background-color: $colour-dark;
    color: white;
    padding: 1.5rem 0 3rem 1.5rem;

    .footer-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $Shrikand-font;
      font-size: 1.25rem;
      height: 35px;
      margin-right: 10px;
      letter-spacing: 1.3px;
    }

    .partner-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .fa-utensils {
        margin-left: 7px;
      }
      .fas {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
      p {
        margin: 0.5rem 0 0 0;
        text-align: justify;
      }
    }

    .mentions-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & > a {
        color: white;
        text-decoration: none;
      }
      p {
        margin: 0.5rem 0 0 0;
      }
    }
  }

  /*######################################################################*/
  /*############################## header menu ###########################*/
  /*######################################################################*/

  .arrow {
    position: absolute;
    top: 15px;
    left: 20px;
    color: black;
  }

  /*######################################################################*/
  /*############################## header menu ###########################*/
  /*######################################################################*/

  .main-restaurant {
    .img-card-menu {
      z-index: 1;
      display: flex;
      justify-content: center;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 310px;
    }
    .menu-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $colour-grey-little;
      border-radius: 30px 30px 0 0;
      margin-top: -3.5rem;

      .title-menu-card {
        font-family: $Shrikand-font;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 1rem;

        > h2 {
          margin-top: 25px;
          width: 85%;
        }

        .heart {
          margin-bottom: 25px;
          width: 100%;
          align-items: flex-end;
          width: 15%;
        }
      }
      .menu-card-dish {
        display: flex;
        flex-direction: column;

        .menu-card-dish-column {
          display: flex;
          flex-direction: column;
          padding: 0 1rem;

          .menu-card-dish-column-title {
            width: fit-content;
            color: #888888;
            margin-bottom: 0.5rem;
            border-bottom: 3px solid #99e2d0;
            
          }

          .menu-card-dish-column-choice {
            background-color: $colour-white;
            display: flex;
            margin: 0 auto 1rem auto;
            height: 70px;
            border-radius: 20px;
            width: 100%;

            justify-content: space-between;

            .description-price {
              display: flex;
              width: 100%;
              justify-content: space-between;
              

              .description {
                > h3 {
                  display: flex;
                  margin: 0;
                }

                > p {
                  font-size: smaller;
                  display: flex;
                  margin: 0;
                }

                .price {
                  display: flex;
                  justify-content: center;
                  align-items: flex-end;
                  margin-bottom: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
