@import "../sass/utils/mixins.scss";
@import "../sass/utils/variables.scss"; 

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}
.header-logo {
@include header-logo
}