@media screen and (min-width: 992px) {
  header,
  main {
    max-width: 1300px;
    margin: auto;
  }
  /*######################################################################*/
  /*##############################  Header  ##############################*/
  /*######################################################################*/

  .location {
    border-radius: 1rem 1rem 0 0;
  }

  /*######################################################################*/
  /*###############################  Main  ###############################*/
  /*######################################################################*/

  .main-intro {
    border-radius: 0 0 1rem 1rem;

    .presentation {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }

  .operation-list {
    flex-direction: row;
    padding-bottom: 2rem;

    .operation-item-list {
      width: 25%;
      margin: 2rem;
    }
  }
  .restaurant {
    border-radius: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .main-restaurant {
    .img-card-menu {
      border-radius: 2rem 2rem 0 0;
    }

    .menu-card {
      margin-bottom: 2rem;
      border-radius: 0 0 2rem 2rem;

      .menu-card-dish {
        flex-direction: row;

        .menu-card-dish-column {
          width: 30%;
          margin: 2rem;
        }
      }
    }
  }
}
