@import "../sass/utils/mixins.scss";
@import "../sass/utils/variables.scss";
@import "../sass/utils/keyframes.scss";
@import "../sass/Components/heart.scss";
@import "../sass/Components/loader.scss";
@import "../sass/Components/Buttons.scss";

@media screen and (min-width: 992px) {
  header,
  main {
    max-width: 1300px;
    margin: auto;
  }
  /*######################################################################*/
  /*##############################  Header  ##############################*/
  /*######################################################################*/

  .location {
    border-radius: 1rem 1rem 0 0;
  }

  /*######################################################################*/
  /*###############################  Main  ###############################*/
  /*######################################################################*/

  .main-intro {
    border-radius: 0 0 1rem 1rem;

    .presentation {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      text-align: justify;
      font-size: 0.9rem;
    }
  }

  .operation-list {
    flex-direction: row;
    padding-bottom: 2rem;

    .operation-item-list {
      width: 25%;
      margin: 2rem;
    }
  }
  .list-restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0.5rem;

    .list-restaurant-card {
      width: calc(50% - 1rem);
    }
  }
  .restaurant {
    border-radius: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .main-restaurant {
    .img-card-menu {
      border-radius: 2rem 2rem 0 0;
    }

    .menu-card {
      margin-bottom: 2rem;
      border-radius: 0 0 2rem 2rem;

      .menu-card-dish {
        flex-direction: row;

        .menu-card-dish-column {
          width: 30%;
          margin: 2rem;
          &.depart-two {
            align-self: flex-start;
          }

          &.depart-three {
            align-self: flex-start;
          }
        }
      }
    }
  }

  /*######################################################################*/
  /*##############################  Footer  ##############################*/
  /*######################################################################*/

  .footer-title {
    flex-direction: row;
    justify-content: center;
    display: flex;
  }

  .partner-footer {
    flex-direction: row;
    padding-top: 1.2rem;
  }

  .mentions-footer {
    flex-direction: row;
    padding-top: 1.2rem;
  }
}
