@import "../sass/utils/mixins.scss";
@import "../sass/utils/variables.scss";
@import "../sass/utils/keyframes.scss";
@import "../sass/Components/heart.scss";
@import "../sass/Components/loader.scss";
@import "../sass/Components/Buttons.scss";

@media screen and (min-width: 768px) and (max-width: 991px) {
  /*######################################################################*/
  /*###############################  Main  ###############################*/
  /*######################################################################*/

  .presentation {
    width: 100%;
    display: block;

    h2 {
      font-size: 1.4rem;
    }

    p {
      text-align: justify;
      font-size: 0.9rem;
      padding: 2rem;
    }
  }

  .operation-item-list {
    width: 65%;
  }

  .list-restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0.5rem;

    .list-restaurant-card {
      width: calc(50% - 1rem);
    }
  }

  /*######################################################################*/
  /*##############################  Footer  ##############################*/
  /*######################################################################*/

  .footer-title {
    flex-direction: row;
    justify-content: center;
    display: flex;
  }

  .partner-footer {
    flex-direction: row;
    padding-top: 1.2rem;
  }

  .mentions-footer {
    flex-direction: row;
    padding-top: 1.2rem;
  }

  .operation-list {
    flex-direction: row;
    padding-bottom: 2rem;

    .operation-item-list {
      width: 65%;
      margin: 2rem;
    }
  }
  .menu-card-dish {
    flex-direction: column;
    align-items: center;

    .menu-card-dish-column {
      width: 65%;
      margin: 1rem;
      flex-direction: column;
    }
  }
}
