@import "../sass/utils/mixins.scss";
@import "../sass/utils/variables.scss";
@import "../sass/utils/keyframes.scss";
@import "../sass/Components/heart.scss";
@import "../sass/Components/loader.scss";
@import "../sass/Components/Buttons.scss";

@media screen and (min-width: 10px) {
  .header-index {
    flex-direction: column;
    align-items: center;
  }

  /*######################################################################*/
  /*###############################  Main  ###############################*/
  /*######################################################################*/

  .presentation {
    display: none;
  }

  .operation-list {
    flex-direction: column;
  }
  .operation-item-list {
    width: 90%;
  }

  .list-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-restaurant-card {
    width: 90%;
    height: 230px;
  }

  /*######################################################################*/
  /*##############################  Footer  ##############################*/
  /*######################################################################*/

  .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .partner-footer {
    flex-direction: column;
  }

  .mentions-footer {
    flex-direction: column;
  }
}
